<nav class="navbar navbar-expand-lg navbar-light custom-style">
    <div class="container-fluid">
      <img [src]=bgIconURL class="img-fluid img-custom-style" alt="header image">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse nav-bar-link-style" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/travel">Find Car</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/register">Booking</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
