.custom-style{
    background-color: #444791;
 }
 .img-custom-style{
     width: 75px;
 }
 .nav-bar-link-style {
     margin-left:13px;
 }
 .navbar-nav .nav-item a {
     font-size: 15px;
     color:white;
     transition: transform .2s;
 }
   
 .navbar-nav .nav-item a:hover {
     -ms-transform: scale(1.2); /* IE 9 */
     -webkit-transform: scale(1.2); /* Safari 3-8 */
     transform: scale(1.2); 
 }