<div class="row m-0 p-0">
  <div class="col-md-12">
    <div class="header-section">
      <app-header></app-header>
    </div>
    <div class="content-section mt-5" *ngIf="hasRoute('/home')">
      <div class="col-lg-12 float-left d-flex mt-5 gap20" >
        <!-- cards  -->
        <div class="col-lg-4 float-left mt-5" *ngFor="let item of details">
          <div class="col-lg-11 card-cls">
            <div class="col-lg-12 no_pad d-flex empdet-cls">
              <div class="empdet-left">
                <span class="float-left photo-cls name-text">
                  <span class="float-left name-textin text-uppercase ">
                    <img src="https://cdn2.rcstatic.com/com.rentalcars.185492029745.eu-west-1.web.prod.static-live/images/landing-pages/usps/mobile/usp_calendar@1x.png"
/>                  </span>
                </span>
              </div>
              <div class="empdet-rgt">
                <div class="float-left col-lg-12 no_pad emp-det">
                <b> <span class="float-left firstlet-cap emp-name"
                    >{{item.details}}</span
                  ></b> 
                </div>
                <div class="float-left col-lg-12 no_pad emp-det-dwn">
                  <span class="float-left firstlet-cap emp-num"
                    >{{item.details2}}</span
                  >
                </div>
                <div class="float-left col-lg-12 no_pad">
                  <button
                    mat-button
                    class="col-12 float-left no_pad firstlet-cap primary-btn"
                    aria-label="view details"
                  >
                    view details
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
   
    </div>

    <div *ngIf="hasRoute('/travel')">
      <app-travel></app-travel>
    </div>
    <div *ngIf="hasRoute('/register')">
      <app-register></app-register>
    </div>
    <div class="footer-section">
      <app-footer></app-footer>
    </div>
  </div>
</div>
